.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.searchBar{
    border: none;
    background-color: #3B4856;
    outline: none;
    color: #eee;
    font-size: 1.5rem;
}
.searchBar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #eee;
}

.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchDiv button{
    outline: none;
    border: none;
    height: 100%;
    background: #60768d;
    color: #eee;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}